<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <div class="row" *ngFor="let data of datas" style="margin-top: 4%">
          <div class="col-md-8">
            Demande : {{ data.bestellgrundIt }}
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6" *ngIf="data.gerateTyp0 != 'Assistance'">
                  <button class="btn btn-danger" *ngIf="!data.freigabeVort">Vortgesetz</button>
                  <button class="btn btn-success" *ngIf="data.freigabeVort">Vortgesetz</button>
              </div>
              <div class="col-md-6">
                  <button class="btn btn-danger" *ngIf="!data.versanddatumExp">Support</button>
                  <button class="btn btn-success" *ngIf="data.versanddatumExp">Support</button>
              </div>
            </div>
          </div>
      </div><br/><br/>
    </div>
  <div class="col-md-2"></div>
</div>