<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <form [formGroup]="askForm" (submit)="submit()">
          <div class="form-row">
            <div class="col-md-12">
              <div class="position-relative form-group">
                <input name="username" formControlName="username" id="username" placeholder="Benutzername hier..."
                  type="text" class="form-control" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="position-relative form-group">
                <input name="email" formControlName="email" id="email" placeholder="email" type="email"
                  class="form-control" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="position-relative form-group">
                <input name="Bestellgrund" formControlName="Bestellgrund" id="Bestellgrund"
                  placeholder="Bestellgrund hier..." type="text" class="form-control" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="position-relative form-group">
                <input name="Vorgesetzer" formControlName="Vorgesetzer" id="Vorgesetzer" placeholder="Vorgesetzer hier..."
                  type="text" class="form-control" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="position-relative form-group">
                <input name="Kostenstelle" formControlName="Kostenstelle" id="Kostenstelle"
                  placeholder="Kostenstelle hier..." type="text" class="form-control" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="position-relative form-group">
                <input name="Rollen" formControlName="Rollen" id="Rollen" placeholder="Rollen hier..." type="text"
                  class="form-control" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="position-relative form-group">
                <input name="Geratetyp" formControlName="Geratetyp" id="Geratetyp" placeholder="Geratetyp hier..."
                  type="text" class="form-control" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="position-relative form-group">
                <input name="Preis" formControlName="Preis" id="Preis" placeholder="Preis hier..." type="number"
                  class="form-control" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="position-relative form-group">
                <input name="Datum" formControlName="Datum" id="Datum" placeholder="Datum hier..." type="date"
                  class="form-control" />
              </div>
            </div>
    
            <div class="col-md-12">
              <div class="position-relative form-group">
                  <label>Freigabe</label>
                  <select formControlName="Freigabe" class="form-control">
                    <option value="Ya">Ya</option>
                    <option value="Nein">Nein</option>
                  </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="float-right">
                <button class="btn btn-primary">Soumettre</button>
              </div>
            </div>
          </div>
        </form>
  </div>
  <div class="col-md-4"></div>
</div>