<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <form [formGroup]="askForm" (submit)="submit()">
      <div class="row">
        Enregistrer un nouveau utilisateur
      </div>
      <div class="col-md-12">
        <div class="position-relative form-group">
          <input name="username" formControlName="username" id="username" placeholder="username hier..." type="text"
            class="form-control" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="position-relative form-group">
          <input name="email" formControlName="email" id="email" placeholder="email hier..." type="email"
            class="form-control" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="position-relative form-group">
          <input name="vorname" formControlName="vorname" id="vorname" placeholder="vorname hier..." type="text"
            class="form-control" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="position-relative form-group">
          <input name="nachname" formControlName="nachname" id="nachname" placeholder="nachname hier..." type="text"
            class="form-control" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="position-relative form-group">
          <input name="rollen" formControlName="rollen" id="rollen" placeholder="rollen hier..." type="text"
            class="form-control" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="position-relative form-group">
          <input name="password" formControlName="password" id="password" placeholder="password hier..." type="password"
            class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input type="button" class="btn btn-danger" (click)="reset()" value="Annuler"/>
        </div>
        <div class="col-md-6">
          <button class="btn btn-success">Valider</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <div *ngFor="let data of datas">
      <div class="row">
        Utilisateur de reference {{ data.id }} : {{ data.username }}
      </div>
      <div class="row">
        <input type="button" value="modifier" (click)="edit(data)" />
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>