<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <form [formGroup]="askForm" (submit)="submit()">
      <div class="row">
        Vorname : {{ user.vorname }}, nachname : {{ user.nachname }}
        <br/>
        Benutzername : {{ active?.benutzerName }}
      </div>
      <div class="col-md-12">
        <div class="position-relative form-group">
          <input name="date" formControlName="datumVort" id="datum" placeholder="datum hier..." type="date"
            class="form-control" />
        </div>
      </div>
      <div class="col-md-12">
          <div class="position-relative form-group">
            <input name="kostenstelleVort" formControlName="kostenstelleVort" id="kostenstelleVort" placeholder="kostenstelleVort hier..." type="text"
              class="form-control" />
          </div>
      </div>
      <div class="col-md-12">
        <div class="position-relative form-group">
          <label>Gerätetyp 1</label>
          <select formControlName="gerateTyp1Vort" class="form-control" (change)="setPrice($event)">
            <option value=""></option>
            <option *ngFor="let lp of laptops" value="{{ lp.name }}">{{ lp.name }}</option>
          </select>
        </div>
        <div class="col-md-12">
          <label>Le prix</label>
          <div class="position-relative form-group">
            <input disabled name="preisVort" formControlName="preisVort" id="preisVort" placeholder="preis hier..." type="text"
              class="form-control" />
          </div>
        </div>
        <div class="col-md-12">
            <label>Freigabe ?</label>
            <div class="position-relative form-group">
              <input name="freigabeVort" formControlName="freigabeVort" type="checkbox"
                class="form-control" />
            </div>
          </div>
      </div>
      <div class="col-md-12">
          <div class="float-right">
            <button class="btn btn-success">Confirmer</button>
          </div>
        </div>
    </form>
  </div>
  <div class="col-md-4">
    <div *ngFor="let data of datas">
      <div *ngIf="data.gerateTyp0 != 'Assistance'">
        <div class="row">
          Demande de reference {{ data.id }} : {{ data.benutzerName }}
        </div>
        <div class="row">
          <input type="button" value="valider" (click)="edit(data)" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>