<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form [formGroup]="askForm" (submit)="submit()">
      <div class="col-md-12">
        <div class="position-relative form-group">
          <input name="Benutzername" formControlName="benutzerName" id="Benutzername" placeholder="Benutzername hier..."
            type="text" class="form-control" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="position-relative form-group">
          <input name="email" formControlName="email" id="email" placeholder="email hier..."
            type="text" class="form-control" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="position-relative form-group">
          <label>Gerätetyp</label>
          <select formControlName="gerateTyp0" class="form-control">
            <option value=""></option>
            <option value="Laptop">Laptop</option>
            <!-- <option value="Drucker">Drucker</option>
            <option value="Bildschirm">Bildschirm</option>
            <option value="Maus">Maus</option>
            <option value="Tastatur">Tastatur</option> -->
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <div class="position-relative form-group">
            <textarea name="Begrundung" formControlName="begrundung" id="Begrundung" placeholder="Begrundung hier..."
              type="text" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-12">
          <div class="float-right">
            <button class="btn btn-primary">Soumettre</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>